section.block-image-text {
  padding: 6em 0;
  .row {
    &.reverse {
      flex-direction: row-reverse;
    }
  }
  .img-container {
    height: 100%;
    max-height:540px;
    // &.full-width {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 50vw;
    //   @media (max-width: $screen-md-max) {
    //     width:100%
    //   }
    // }
    // &.full-width.imageLeft {
    //   right: 0;
    //   left: auto;
    // }
  }
  .content-container {
    margin-bottom: 2em;
    .wysiwyg-container {
      
      ul {
        // background-color: var(--primary-color);
        padding:1em;
        padding-left: 2.5em;
        border-radius:16px; 
        border: 1px solid lightgray;
        * {
          font-weight: 500;
        }
      }
    }
  }
}
