section.block-form {
  padding: 3em 0;
  
  .form-container {
    padding: 32px;
    padding-bottom: 16px;
    border-radius: 8px;
    background-color: #e9f2fc;
    h2,h3 {
      font-size: 32px;
      margin-top: 24px;
      color: var(--title-color);
      font-weight:bold;
      margin-bottom:  8px;
    }
    textarea {
      height: 132px !important;
    }
    .gform_wrapper {
      * {
          border: 0px !important;
          border-radius: 8px;
      }
      .gform_required_legend {
        display: none !important;
      }
    }
  }
  
  .intro-text {
    padding-left: 2em;
    
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 1em;
    }
    
    p {
      margin-bottom: 1em;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    @media (max-width: 991px) {
      padding-left: 0;
    }
  }
  
  // Responsive adjustments
  @media (max-width: 768px) {
    padding: 2em 0;
  }
}
