section.info-slider {
  padding: 3em 0;
  .row {
    &.imageLeft {
      flex-direction: row-reverse;
      //   .img-container {
      //     &.full-width {
      //       right: auto;
      //       left: 0;
      //     }
      //   }
    }
  }
  .img-container {
    height: 100%;
    &.full-width {
      position: absolute;
      top: 0;
      left: 0;
      width: 50vw;
      @media (max-width: $screen-md-max) {
        width:100%
      }
    }
    &.full-width.imageLeft {
      right: 0;
      left: auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
