.phone-icon {
  position: relative;
  &:before {
    content: "";
    background-image: url("../images/phone.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
  }
}
