@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1435px !important;
  }
}

@media (min-width: 992px) {
  .container-fluid-left {
    margin-left: calc((100vw - 960px) / 2) !important;
    max-width: calc(100% - (100vw - 960px) / 2 + 0px) !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 1200px) {
  .container-fluid-left {
    margin-left: calc((100vw - 1140px) / 2) !important;
    max-width: calc(100% - (100vw - 1140px) / 2 + 0px) !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 1400px) {
  .container-fluid-left {
    margin-left: calc((100vw - 1320px) / 2) !important;
    max-width: calc(100% - (100vw - 1320px) / 2 + 0px) !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 1500px) {
  .container-fluid-left {
    margin-left: calc((100vw - 1435px) / 2) !important;
    max-width: calc(100% - (100vw - 1435px) / 2 + 0px) !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 768px) {
  .container-fluid-left-100 {
    margin-left: calc((100vw - 720px) / 2) !important;
    max-width: calc(100% - (100vw - 720px) / 2 + 100px) !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 992px) {
  .container-fluid-left-100 {
    margin-left: calc((100vw - 960px) / 2) !important;
    max-width: calc(100% - (100vw - 960px) / 2 + 100px) !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 1200px) {
  .container-fluid-left-100 {
    margin-left: calc((100vw - 1140px) / 2) !important;
    max-width: calc(100% - (100vw - 1140px) / 2 + 100px) !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 1400px) {
  .container-fluid-left-100 {
    margin-left: calc((100vw - 1320px) / 2) !important;
    max-width: calc(100% - (100vw - 1320px) / 2 + 100px) !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 1500px) {
  .container-fluid-left-100 {
    margin-left: calc((100vw - 1435px) / 2) !important;
    max-width: calc(100% - (100vw - 1435px) / 2 + 100px) !important;
    margin-right: 0 !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
}
@media (max-width: 1199px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media (max-width: 992px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 22px;
    margin-bottom: 122px;
  }
}
@media (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

h1 {
  font-size: 54px;
  margin-top: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
@media (max-width: 1199px) {
  h1 {
    font-size: 34px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 400;
}
@media (max-width: 1199px) {
  h2 {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 24px;
}
@media (max-width: 1199px) {
  h3 {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  h3 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-size: 1rem;
}

p {
  color: var(--paragraph-color);
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 992px) {
  p {
    font-size: 19px;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 18px;
  }
}

ul {
  padding-left: 20px;
  list-style: disc;
  font-size: 20px;
  color: var(--paragraph-color);
}
ul li {
  margin-bottom: 15px;
  color: var(--paragraph-color);
}

a {
  color: var(--link-color);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p + .btn, .owl-nav p + button, p + .btn-outline, p + .btn-secondary {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333b6f;
}
body.menu-open,
html.menu-open {
  overflow: hidden;
}

section.block-hero {
  overflow: hidden;
}
section.block-hero .grouper {
  background-color: white;
}
section.block-hero .img-container {
  height: auto;
  position: relative;
  z-index: -1;
  height: 66dvh;
}
@media (max-width: 1199px) {
  section.block-hero .img-container {
    height: 300px;
  }
}
section.block-hero .img-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(30, 30, 30);
  background: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, rgba(30, 30, 30, 0) 50%, rgba(33, 33, 35, 0.8) 100%);
  z-index: 2;
}
section.block-hero .img-container .title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-bottom: 0;
  color: white;
  font-size: 80px;
  line-height: 0.65;
  z-index: 3;
  text-transform: uppercase;
  text-wrap: nowrap;
}
@media (max-width: 1199px) {
  section.block-hero .img-container .title {
    font-size: 12vw;
    line-height: 0.72;
	text-wrap:unset;
  }
}
section.block-hero .img-container .badge {
  position: absolute;
  z-index: 4;
}
section.block-hero .img-container .badge.top-right {
  top: 10%;
  right: 10%;
}
section.block-hero .img-container .badge.top-left {
  top: 10%;
  left: 10%;
}
section.block-hero .img-container .badge.bottom-right {
  bottom: 10%;
  right: 10%;
}
section.block-hero .img-container .badge.bottom-left {
  bottom: 10%;
  left: 10%;
}
section.block-hero .img-container .img-fitter img {
  position: relative;
}
section.block-hero .content-container {
  position: relative;
}
section.block-hero .content-container .subtitle {
  font-size: 51px;
  color: var(--title-color);
  text-transform: uppercase;
  margin-top: 6px;
  font-weight: 400;
}
@media (max-width: 1199px) {
  section.block-hero .content-container .subtitle {
    font-size: 8vw;
    line-height: 1;
  }
}
section.block-hero .content-container .wysiwyg-container {
  color: var(--paragraph-color);
  margin: 2em 0;
}
section.block-hero .content-container .wysiwyg-container p {
  margin: 2em 0;
  height: auto;
  font-size: 25px;
}
@media (max-width: 1199px) {
  section.block-hero .content-container .wysiwyg-container p {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  section.block-hero .content-container .wysiwyg-container p {
    font-size: 20px;
  }
}
section.block-hero .content-container .deco-container {
  position: absolute;
  top: 0;
  bottom: 0;
}
section.block-hero .content-container .deco-container .deco {
  opacity: 0.1;
  height: 100%;
}
section.block-hero .content-container .deco-container.left {
  transform: translate(-110%, 0%);
  left: -5%;
}
section.block-hero .content-container .deco-container.right {
  right: -5%;
  transform: translate(110%, 0%);
}
section.block-hero .btn-container {
  margin-top: 3em;
  margin-bottom: 3em;
}

section.block-single-text {
  padding: 3em 0;
}
section.block-single-text .btn-container {
  margin: 2em 0;
}

section.image-text {
  padding: 3em 0;
}
section.image-text.full-width {
  padding: 0;
}
section.image-text .row.imageLeft {
  flex-direction: row-reverse;
}
section.image-text .img-container {
  height: 100%;
}
section.image-text .img-container.full-width {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
}
@media (max-width: 992px) {
  section.image-text .img-container.full-width {
    width: 100%;
  }
}
section.image-text .img-container.full-width.imageLeft {
  right: 0;
  left: auto;
}
section.image-text .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.image-text .content-container {
  margin-bottom: 2em;
}

section.image {
  margin: 4em 0;
}
section.image .img-container {
  height: 464px;
}
section.image img {
  width: 100%;
  height: 100%;
}
section.image .content-group {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--tertiary-color);
  color: var(--title-color);
}
section.image .content-group h1,
section.image .content-group h2,
section.image .content-group h3,
section.image .content-group h4 {
  margin: 8px;
  color: unset;
}
section.image .btn-container {
  margin: 2em 0;
}
section.image .container-fluid, section.image .row, section.image .col-12 {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
section.image .row {
  width: 100%;
}

section.map .row.reverse {
  flex-direction: row-reverse;
}
section.map .container-fluid {
  padding: 0;
}
section.map .container {
  padding-top: 4em;
  padding-bottom: 4em;
}
section.map .content-group h1,
section.map .content-group h2,
section.map .content-group h3,
section.map .content-group h4,
section.map .content-group a,
section.map .content-group p {
  color: unset;
}
section.map .btn-container {
  margin-bottom: 2em;
}
section.map .map-parent {
  min-height: 650px;
}
section.map .map-parent #map {
  width: 100%;
  height: 650px;
}
section.map .map-parent #map.full-width-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
}
@media (max-width: 992px) {
  section.map .map-parent #map.full-width-right {
    width: 100%;
  }
}
section.map .map-parent #map.full-width-left {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
}
@media (max-width: 992px) {
  section.map .map-parent #map.full-width-left {
    width: 100%;
  }
}
@media (max-width: 992px) {
  section.map .map-parent #map {
    min-height: 400px;
  }
}
section.map .map-parent #map .yNHHyP-marker-view img {
  width: 34px;
}
@media (max-width: 992px) {
  section.map .map-parent #map {
    height: 400px;
  }
}
@media (max-width: 992px) {
  section.map .map-parent {
    min-height: 400px;
  }
}

section.downloads {
  padding: 5em 0;
}
section.downloads .title {
  margin-top: 0;
  margin-bottom: 1em;
}

section.info-slider {
  padding: 3em 0;
}
section.info-slider .row.imageLeft {
  flex-direction: row-reverse;
}
section.info-slider .img-container {
  height: 100%;
}
section.info-slider .img-container.full-width {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
}
@media (max-width: 992px) {
  section.info-slider .img-container.full-width {
    width: 100%;
  }
}
section.info-slider .img-container.full-width.imageLeft {
  right: 0;
  left: auto;
}
section.info-slider .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn, .owl-nav button, .btn-outline, .btn-secondary,
.btn-primary {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: var(--button-border-radius);
  border: 0px solid transparent;
  cursor: pointer;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  background-color: var(--button-primary-hover-color);
  color: var(--button-primary-text-color);
}
@media (max-width: 992px) {
  .btn, .owl-nav button, .btn-outline, .btn-secondary,
  .btn-primary {
    font-size: 18px;
  }
}
.btn:hover, .owl-nav button:hover, .btn-outline:hover, .btn-secondary:hover,
.btn-primary:hover {
  background-color: var(--button-primary-hover-color);
}
.btn a, .owl-nav button a, .btn-outline a, .btn-secondary a,
.btn-primary a {
  color: var(--button-primary-text-color) !important;
}

.owl-button {
  cursor: pointer;
}
.owl-button:hover {
  background-color: var(--button-primary-hover-color);
}

.btn-secondary {
  background-color: var(--button-secondary-color);
  color: var(--button-secondary-text-color);
}
.btn-secondary:hover {
  background-color: var(--button-secondary-hover-color);
}

.btn-outline {
  background-color: transparent;
  border: 2px solid var(--button-outline-color);
  color: var(--button-outline-color);
}
.btn-outline:hover {
  background-color: var(--button-outline-color);
  color: var(--button-outline-text-color);
}

footer {
  padding-top: 2em;
}
footer .img-container {
  width: 100%;
  min-height: 220px;
  display: flex;
  justify-content: center;
}
footer .img-container a {
  height: auto;
}
footer .footer-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}
footer .footer-nav ul a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
footer .bottom-footer {
  margin-top: 3em;
}
footer .bottom-footer * {
  font-size: 16px;
}

.hamburger {
  display: none;
  padding: 15px 15px 5px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: #fff;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  float: right;
  margin-right: 35px;
}
@media (max-width: 992px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 8px;
  margin-left: 40px;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
.nav-container .logo {
  padding: 0 12px;
}
.nav-container .logo img {
  height: 64px;
}
@media (max-width: 992px) {
  .nav-container .logo img {
    height: 54px;
    max-width: 200px;
  }
}
.nav-container #nav-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  gap: 2em;
}
@media (max-width: 992px) {
  .nav-container #nav-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding: 32px;
    padding-bottom: 104px;
    background-color: white;
  }
}
.nav-container #nav-items #cross {
  display: none;
}
@media (max-width: 992px) {
  .nav-container #nav-items #cross {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    cursor: pointer;
  }
  .nav-container #nav-items #cross .cross-line-1,
  .nav-container #nav-items #cross .cross-line-2 {
    margin-top: 32px;
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
  }
  .nav-container #nav-items #cross .cross-line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .nav-container #nav-items #cross .cross-line-2 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
.nav-container #nav-items .primary-nav {
  height: 100%;
  display: flex;
  gap: 2em;
  padding: 0;
  list-style: none;
  margin: 0;
}
.nav-container #nav-items .primary-nav li {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .nav-container #nav-items .primary-nav li {
    height: auto;
  }
}
.nav-container #nav-items .primary-nav li a {
  text-decoration: none;
  color: var(--paragraph-color);
  font-size: 22px;
  font-weight: normal;
}
@media (max-width: 992px) {
  .nav-container #nav-items .primary-nav li a {
    font-size: 20px;
    color: black;
  }
}
.nav-container #nav-items .primary-nav li.page_item_has_children::after {
  content: url("../images/menu-has-child.svg");
  margin-left: 5px;
  display: inline-block;
  transition: 0.3s ease;
}
.nav-container #nav-items .primary-nav li:hover > a {
  color: var(--primary-color);
}
.nav-container #nav-items .primary-nav li:hover::after {
  transform: scaleY(-1);
  color: #3129b9;
}
.nav-container #nav-items .primary-nav li:hover .children {
  display: inline;
}
@media (max-width: 992px) {
  .nav-container #nav-items .primary-nav {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .nav-container #nav-items .search {
    width: 100%;
  }
}
.nav-container #nav-items .search .searchform {
  display: flex;
  align-items: center;
  background-color: rgb(235, 235, 235);
  border-radius: 100px;
  padding: 0.7em 1.2em;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .nav-container #nav-items .search .searchform {
    width: 100%;
    justify-content: space-between;
    background-color: white;
  }
}
.nav-container #nav-items .search input::-moz-placeholder {
  border: none;
  background-color: transparent;
  outline: none;
  color: rgb(109, 109, 109);
  font-size: 16px;
}
.nav-container #nav-items .search input,
.nav-container #nav-items .search button,
.nav-container #nav-items .search input::placeholder {
  border: none;
  background-color: transparent;
  outline: none;
  color: rgb(109, 109, 109);
  font-size: 16px;
}
.nav-container #nav-items.is-active {
  transform: translateX(0%);
}
.nav-container .hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  padding: 0.5em 1em;
  margin: 0 16px;
  background-color: var(--secondary-color);
  border-radius: var(--button-border-radius);
  cursor: pointer;
}
@media (max-width: 992px) {
  .nav-container .hamburger {
    display: flex;
  }
}
.nav-container .hamburger .hamburger-line {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 2px 0;
}
.nav-container .shopping-cart {
  margin: 0 16px;
}

.nav-container #nav-items .primary-nav li.menu-item-has-children {
  position: relative;
}
.nav-container #nav-items .primary-nav li.menu-item-has-children .sub-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  transform: translate(0%, 100%);
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1.2em;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}
.nav-container #nav-items .primary-nav li.menu-item-has-children::after {
  content: url("../images/menu-has-child.svg");
  margin-left: 5px;
  display: inline-block;
  transition: 0.3s ease;
}
.nav-container #nav-items .primary-nav li.menu-item-has-children:hover::after {
  transform: scaleY(-1);
}
.nav-container #nav-items .primary-nav li.menu-item-has-children:hover .sub-menu {
  display: flex;
  gap: 10px;
}

section.error-404 {
  padding: 5em 0;
  border-radius: 4px;
}

.flex, .flex-end, .flex-end-center, .flex-end-stretch, .flex-end-end, .flex-end-start, .flex-start, .flex-start-stretch, .flex-start-end, .flex-start-start, .flex-evenly, .flex-evenly-stretch, .flex-evenly-end, .flex-evenly-start, .flex-around, .flex-around-stretch, .flex-around-end, .flex-around-start, .flex-between, .flex-between-center, .flex-between-stretch, .flex-between-end, .flex-between-start, .flex-center, .flex-center-stretch, .flex-center-end, .flex-center-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.flex-center, .flex-center-stretch, .flex-center-end, .flex-center-start {
  justify-content: center;
  align-items: center;
}

.flex-center-start {
  align-items: flex-start;
}

.flex-center-end {
  align-items: flex-end;
}

.flex-center-stretch {
  align-items: stretch;
}

.flex-between, .flex-between-center, .flex-between-stretch, .flex-between-end, .flex-between-start {
  justify-content: space-between;
}

.flex-between-start {
  align-items: flex-start;
}

.flex-between-end {
  align-items: flex-end;
}

.flex-between-stretch {
  align-items: stretch;
}

.flex-between-center {
  align-items: center;
}

.flex-around, .flex-around-stretch, .flex-around-end, .flex-around-start {
  justify-content: space-around;
}

.flex-around-start {
  align-items: flex-start;
}

.flex-around-end {
  align-items: flex-end;
}

.flex-around-stretch {
  align-items: stretch;
}

.flex-evenly, .flex-evenly-stretch, .flex-evenly-end, .flex-evenly-start {
  justify-content: space-evenly;
}

.flex-evenly-start {
  align-items: flex-start;
}

.flex-evenly-end {
  align-items: flex-end;
}

.flex-evenly-stretch {
  align-items: stretch;
}

.flex-start, .flex-start-stretch, .flex-start-end, .flex-start-start {
  justify-content: flex-start;
}

.flex-start-start {
  align-items: flex-start;
}

.flex-start-end {
  align-items: flex-end;
}

.flex-start-stretch {
  align-items: stretch;
}

.flex-end, .flex-end-center, .flex-end-stretch, .flex-end-end, .flex-end-start {
  justify-content: flex-end;
}

.flex-end-start {
  align-items: flex-start;
}

.flex-end-end {
  align-items: flex-end;
}

.flex-end-stretch {
  align-items: stretch;
}

.flex-end-center {
  align-items: center;
}

.flex-col, .flex-col-end, .flex-col-start, .flex-col-start-center,
.flex-col-center,
.flex-col-between-center,
.flex-col-end-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.flex-col-start, .flex-col-start-center {
  align-items: flex-start;
}

.flex-col-start-center {
  justify-content: center;
}

.flex-col-end {
  align-items: flex-end;
}

.flex-col-end-center {
  justify-content: flex-end;
}

.flex-col-between-center {
  justify-content: space-between;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-075 {
  gap: 0.75rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}

.gap-6 {
  gap: 6rem;
}

.fill {
  width: 100%;
  height: 100%;
}

.fill-width {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.fluid-height {
  max-width: 100%;
  height: auto;
}

.fluid-width {
  max-height: 100%;
  width: auto;
}

.relative {
  position: relative;
}

.hide {
  display: none;
}

.text-center {
  text-align: center;
}
.text-center * {
  text-align: center;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.half-page-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
@media (max-width: 1199px) {
  .half-page-left {
    position: relative;
    width: 100%;
    height: 420px;
  }
}

.half-page-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
@media (max-width: 1199px) {
  .half-page-right {
    position: relative;
    width: 100%;
    height: 420px;
  }
}

.contain,
.contain-width {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cover,
.cover-width {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.contain-height {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contain-width {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.background,
.background-cover {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.background-contain {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.min-height {
  min-height: 520px;
}

.owl-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: calc(100% + 54px);
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
@media (max-width: 1199px) {
  .owl-nav {
    width: calc(100% - 24px);
  }
}
.owl-nav button {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.owl-nav button span {
  font-size: 28px;
}

.owl-stage-outer,
.owl-stage,
.owl-item {
  height: 100%;
  overflow: hidden;
}

.owl-stage-outer {
  border-radius: 30px;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */